



/* ------ mobilyslider
-----------------------------------------------*/



.slider {
margin: 0 auto;
margin-top: 20px;
width:960px;
height:350px;
position:relative;
padding-bottom:26px;
background:url(images/gfx/bottom_shadow.png) no-repeat bottom center;
}

.sliderContent {
float:left;
width:960px;
height:350px;
clear:both;
position:relative;
overflow:hidden;
}

.sliderArrows a {
display:block;
text-indent:-9999px;
outline:none;
z-index:50;
background-image:url(images/gfx/prev_next.png);
width:42px;
height:42px;
position:absolute;
top:50%;
margin-top:-34px;
}

.prev {
background-position:0 0;
left:15px;
}

.prev:hover {
background-position:0 -44px;
}

.next {
right:15px;
background-position:-44px 0;
}

.next:hover {
background-position:-44px -44px;
}

.sliderContent .item {
position:absolute;
width:800px;
height:350px;
background:#fff;
}

.sliderBullets {
position:absolute;
bottom:0;
left:50%;
z-index:50;
margin-left:-45px;
}

.sliderBullets a {
display:block;
float:left;
text-indent:-9999px;
outline:none;
margin-left:5px;
width:10px;
height:11px;
background:url(images/gfx/bullets.png) no-repeat;
}

.sliderBullets .active {
background-position:0 -11px;
}

.sliderContent a {
outline:none;
}

.slider a {
color:#fff;
}

.slider a img {
border:none;
}

.item {
   position: relative;
   
}
.item_text{
   position: absolute;
   top: 60px;
   left: 80px;
   width: 520px;
   
}
.item_text h1{
   font-size: 44px;
   font-weight: 300;
   margin-bottom: 20px;
   color: #d30708;
} 
.item_text p {
   line-height: 1.5;
   color: white;
   margin-bottom: 30px;
}

.button{
	text-transform: uppercase;
	text-decoration:none; 
	text-align:center; 
   padding:11px 25px; 
   border:solid 1px #000000; 
   -webkit-border-radius:6px;
   -moz-border-radius:6px; 
   border-radius: 6px; 
   font:14px; 
  
   color:#ffffff; 
   background-color:#ed1717; 
   background-image: -moz-linear-gradient(top, #ed1717 0%, #800a0a 100%); 
   background-image: -webkit-linear-gradient(top, #ed1717 0%, #800a0a 100%); 
   background-image: -o-linear-gradient(top, #ed1717 0%, #800a0a 100%); 
   background-image: -ms-linear-gradient(top, #ed1717 0% ,#800a0a 100%); 
   filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#800a0a', endColorstr='#800a0a',GradientType=0 ); 
   background-image: linear-gradient(top, #ed1717 0% ,#800a0a 100%);   
   -webkit-box-shadow:0px 0px 2px #bababa, inset 0px 0px 1px #ffffff; 
   -moz-box-shadow: 0px 0px 2px #bababa,  inset 0px 0px 1px #ffffff;  
   box-shadow:0px 0px 2px #bababa, inset 0px 0px 1px #ffffff;  
  }
.button:hover{
   padding:11px 25px; 
   border:solid 1px #000000; 
   -webkit-border-radius:6px;
   -moz-border-radius:6px; 
   border-radius: 6px; 
   font:14px; 
    
   color:#ffffff; 
   background-color:#d90000; 
   background-image: -moz-linear-gradient(top, #d90000 0%, #611717 100%); 
   background-image: -webkit-linear-gradient(top, #d90000 0%, #611717 100%); 
   background-image: -o-linear-gradient(top, #d90000 0%, #611717 100%); 
   background-image: -ms-linear-gradient(top, #d90000 0% ,#611717 100%); 
   filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#611717', endColorstr='#611717',GradientType=0 ); 
   background-image: linear-gradient(top, #d90000 0% ,#611717 100%);   
   -webkit-box-shadow:0px 0px 2px #bababa, inset 0px 0px 1px #ffffff; 
   -moz-box-shadow: 0px 0px 2px #bababa,  inset 0px 0px 1px #ffffff;  
   box-shadow:0px 0px 2px #bababa, inset 0px 0px 1px #ffffff;  
  
 }
.button:active{
   padding:11px 25px; 
   border:solid 1px #000000; 
   -webkit-border-radius:6px;
   -moz-border-radius:6px; 
   border-radius: 6px; 
   font:14px; 
    
   color:#b8b8b8; 
   background:#990202; 
   -webkit-box-shadow:0px 0px 2px #bababa, inset 0px 0px 1px #ffffff; 
   -moz-box-shadow: 0px 0px 2px #bababa,  inset 0px 0px 1px #ffffff;  
   box-shadow:0px 0px 2px #bababa, inset 0px 0px 1px #ffffff;  
  
 }   
