<div class="bc">
    {% for breadcrumb in breadcrumbs %}
        {{ breadcrumb | raw }}
    {% endfor %}

</div>
<div class="shadow"></div>

<div class="wrap">
   <div class="content">
      {% for content in contents %}
            <h1>{{ content.title }}</h1>
            <div class="workarea">
                {{ content.field|raw }}
            </div>
     {% endfor %}
   </div>
   <div class="sidebar">
       <div class="accordion">
            <ul >        
               {{ render (controller(
                      'AppBundle:Main:menu',
                       {'parents_uri_array': parents_uri_array | default(null),
                       'uri': uri | default(null),
                       'menu_type': 'accordion'                       
                        } )) }}
            </ul>
       </div>
                          
     <!-- <div id="cal_placeholder" class="calendar"></div>
      <div class="exchange"><!-- Minfin.com.ua currency informer 200x120 grey-->
     <!-- <div id="minfin-informer-m1Fn-currency">Загружаем <a href="http://minfin.com.ua/currency/" target="_blank">курсы валют</a> от minfin.com.ua</a></div><script type="text/javascript">var iframe = '<ifra'+'me width="200" height="120" fram'+'eborder="0" src="http://informer.minfin.com.ua/gen/course/?color=grey" vspace="0" scrolling="no" hspace="0" allowtransparency="true"style="width:200px;height:120px;ove'+'rflow:hidden;"></iframe>';var cl = 'minfin-informer-m1Fn-currency';document.getElementById(cl).innerHTML = iframe; </script><noscript><img src="http://informer.minfin.com.ua/gen/img.png" width="1" height="1" alt="minfin.com.ua: курсы валют" title="Курс валют" border="0" /></noscript>
      </div>-->
   </div>
</div>