{% extends "default/Admin/admin.html.twig" %}

{% block body -%}
    <h1>Создание новой категории</h1>

    {{ form(form) }}

        <ul class="record_actions">
    <li>
        <a href="{{ path('categories') }}">
            Вернуться к списку
        </a>
    </li>
</ul>
{% endblock %}